# Ansible temporary files
*.retry
*.log

# Vault password files
.vault_pass
vault-password*

# Python
__pycache__/
*.pyc

# Editor files
.vscode/
.idea/
*.swp

# Local secrets and private keys
*.pem
*.key

ansible/reports/*
!ansible/reports/.gitkeep
