[Unit]
Description=Check for ERPNext updates daily at 4:15 AM

[Timer]
OnCalendar=*-*-* 04:15:00
RandomizedDelaySec=15m
AccuracySec=1m
Unit=ansible-erpnext-update.service

[Install]
WantedBy=timers.target
